body {
  font-family: Raleway;
  margin: 0;
}

body h3 {
  margin-left: 5px;
}

body p {
  margin-left: 5px;
}

*{
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway";
  src: url("Police/Raleway-VariableFont_wght.ttf");
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #f2f2f2;
  padding: 5px;
}

footer div {
  margin-right: 60px;
}

footer li {
  margin-bottom: 10px;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  float: right;
}

#navigation-filtre {
  display: flex;
  flex-wrap: wrap;
}


#filtres {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 5px;
}

#filtres li {
  margin-right: 50px;
}

#filtres li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

#filtres li a:hover {
  color: #0065fc;
}

@media screen and (max-width: 500px) {
  #filtres li {
    display: inline-block;
  }
}

header img {
  height: 50px;
  margin: 5px;
}

#flex-haut-de-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

h3#activités {
  padding-left: 5px;
}

#flex-haut-de-page > li:nth-child(1) {
  flex: 1 0 0;
  order: 1;
}

#flex-haut-de-page > li:nth-child(2) {
  flex: 0 0 370px;
  order: 2;
  margin: 15px 0;
  margin-left: 15px;
}

@media screen and (max-width: 700px) {
  #flex-haut-de-page > li:nth-child(2) {
    order: 0;
  }
}

#hebergements-marseille {
  border-radius: 10px;
  background-color: #f2f2f2;
  min-width: 100px;
  padding: 15px;
  margin: 15px 0;
}

#hebergements-marseille > p {
  font-weight: bold;
}

aside {
  border-radius: 10px;
  background-color: #f2f2f2;
  width: 100%;
  padding: 15px;
  height: 720px;
}

#titre-et-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#titre-et-logo > i.fas.fa-chart-line {
  line-height: 15px;
  color: black;
  margin-top: 10px;
}

#titre-et-logo > h3 {
  margin-bottom: 35px;
}

#flex-hebergements {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#activites-marseille {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
}

@media screen and (max-width: 900px) {
  #activites-marseille {
    display: grid;
    grid-template-columns: 1fr !important;
    grid-auto-rows: 320px;
  }
  .carte3 {
    grid-column: 1 !important;
    grid-row: inherit !important;
    width: inherit;
  }
}

.carte3:nth-child(1) {
  grid-column: 1;
  grid-row: 1 / 7;
}

.carte3:nth-child(2) {
  grid-column: 2;
  grid-row: 1 / 5;
}

.carte3:nth-child(3) {
  grid-column: 2;
  grid-row: 5 / 7;
}

.carte3:nth-child(4) {
  grid-column: 3;
  grid-row: 1 / 7;
}

.carte3:nth-child(5) {
  grid-column: 4;
  grid-row: 1 / 4;
}

.carte3:nth-child(6) {
  grid-column: 4;
  grid-row: 4 / 7;
}

.fas_fa-swimmer {
  color: red;
}

.filtre i {
  height: 30px;
  background-color: #deebff;
  margin-right: 5px;
  padding: 5px;
  border-radius: 30px;
  object-fit: contain;
  color: #0065fc;
}

#map {
  height: 15px;
}

#titre-filtre {
  font-weight: bold;
  margin-right: 30px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.filtre {
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  font-weight: bold;
  padding-right: 5px;
}

.onglet {
  margin-right: 70px;
}

.onglet a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width:600px){
.onglet a:hover {
  color: #0065fc;
  border-top: 5px solid #0065fc;
  padding-top: 18px;
}
}


#inscription {
  margin-right: 50px;
  font-weight: bold;
  color: #0065fc;
}

label > * {
  padding-left: 5px;
}

form {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  width: max-content;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;
  padding-left: 5px;
}

form > i {
  height: 40px;
  width: 40px;
  background: #f2f2f2;
  color: black;
  text-align: center;
  line-height: 40px !important;
}

form button > i.fa-search {
  display: none;
}

input.search {
  border: none;
}

button.submit {
  border: none;
  background: #0065fc;
  color: #fff;
  font-weight: bold;
  padding: 0 10px;
}

ul#flex-hebergements > li {
  margin: 20px;
}

#flex-hebergements > li > a {
  text-decoration: none;
  color: black;
}

div.carte1 {
  border: 4px solid #fff;
  width: 300px;
  height: 250px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}

@media screen and (max-width:950px){
  ul#flex-haut-de-page > li {
    width: 100%;
    flex: inherit;
  }
  
  ul#flex-hebergements > li {
    width : 100%;
  }

  div.carte1 {
    width : 100%;
  }
}

div.carte1 > img {
  object-fit: cover;
  object-position: center;
  height: 0;
  flex: 1 1 0;
}

div.carte1 > div.infos {
  background: #fff;
  padding: 10px 3px;
  flex: 0 0 auto;
}

div.carte1 > div.infos > p {
  padding-bottom: 5px;
  margin: 0;
  font-size: 16px;
}

div.carte1 > div.infos > p:nth-child(1) {
  font-weight: bold;
}

div.carte1 > div.infos > i.fas.fa-star {
  line-height: 12px;
  color: #0065fc;
}


div.carte1 > div.infos > i.fas.fa-star.grey {
  line-height: 12px;
  color: grey;
}

aside > a {
  text-decoration: none;
  color: black;
}

div.carte2 {
  background-color: #fff;
  border: 4px solid #fff;
  display: flex;
  width: 100%;
  height: 150px;
  border-radius: 15px;
  margin-bottom: 60px; 
  justify-content: stretch;
  align-items: stretch;
}

div.carte2 > img {
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  width: 150px;
  height: 100%;
}

div.carte2 > div.infos {
  background: #fff;
  padding: 10px 3px;
  display: flex;
  flex-direction: column;
}

div.carte2 > div.infos p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  padding-bottom: 5px;
}

div.carte2 > div.infos p:nth-child(1) {
  font-weight: bold;
}

div.carte2 div.note > i.fas.fa-star {
  line-height: 12px;
  color: #0065fc;
}

div.carte2 div.note > i.fas.fa-star.grey {
  line-height: 12px;
  color: grey;
}

div.carte2 div.descriptif {
  flex: 1;
}

div.carte3 {
  border: 4px solid #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}

div.carte3 img {
  object-fit: cover;
  object-position: center;
  flex: 1 1 0;
}

div.carte3 > div.infos {
  background: #fff;
  padding: 10px 3px;
  flex: 0 0 auto;
}

div.carte3 > div.infos > a > span {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

div.carte3 > div.infos > a {
  text-decoration: none;
  color: black;
}


i.fas.fa-info {
  line-height: 15px;
  color: #0065fc;
  border: 1px solid #f2f2f2;
  border-radius: 25px;
  margin: 5px;
  padding: 6px 9px;
}

#precision {
  padding-left: 5px;
  padding-top: 10px;
}


#precision > span {
  padding-left: 10px;
}

@media screen and (max-width:950px){
  ul#flex-haut-de-page > li {
    width: 100%;
    flex: auto !important;
  }
  
  ul#flex-hebergements > li {
    width : 100%;
  }

  div.carte1 {
    width : 100%;
  }
}

@media screen and (max-width:600px){
  header > nav, 
  header > nav > ul {
    width: 100%;
  }
  header > nav li:hover {
    padding-bottom: 10px;
    border-bottom: 5px solid #0065fc;
    border-top: 0px;
  }
  header > nav li > a:hover {
    color: #0065fc;
  }

  .onglet {
    width: 50%;
    margin: 0;
    text-align: center;
  }

  #inscription {
    margin: 0;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  form button > span {
    display: none;
  }

  form button > i.fa-search {
    display: inherit;
  }
}