body {
  font-family: Raleway;
}

@font-face {
  font-family: "Raleway";
  src: url("Police/Raleway-VariableFont_wght.ttf");
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #f2f2f2;
}

footer div {
  margin-right: 60px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  float: right;
}

#filtres {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

#filtres li {
  margin-right: 30px;
  margin bottom: 30px;
}

#filtres li a {
  display: flex;
  align-items: center;
}

#filtres li a:hover {
  color: #0065fc;
}

header img {
  height: 50px;
}

#flex-haut-de-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#flex-haut-de-page li:nth-child(1) {
  flex: 1 0 0;
  order: 1;
}

#flex-haut-de-page li:nth-child(2) {
  flex: 0 0 370px;
  order: 2;
}

@media screen and (max-width: 700px) {
  #flex-haut-de-page li:nth-child(2) {
    order: 0;
  }
}

#hebergements-marseille {
  border-radius: 10px;
  background-color: #f2f2f2;
  min-width: 100px;
  padding: 15px;
  margin: 15px;
}

#hebergements-marseille > p {
  font-weight: bold;
}

aside {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 15px;
  width: 370px;
  padding: 15px;
  float: right;
  margin: 15px;
}

#flex-hebergements {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#activites-marseille {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 320px;
}

@media screen and (max-width: 900px) {
  #activites-marseille {
    display: grid;
    grid-template-columns: 1fr !important;
  }
  .carte3 {
    grid-column: 1 !important;
    grid-row: inherit !important;
    width: inherit;
  }
}

.carte3:nth-child(1) {
  grid-column: 1;
  grid-row: 1 / 3;
}

.carte3:nth-child(2) {
  grid-column: 2;
  grid-row: 1 / 2;
}

.carte3:nth-child(3) {
  grid-column: 2;
  grid-row: 2 / 3;
}

.carte3:nth-child(4) {
  grid-column: 3;
  grid-row: 1 / 3;
}

.carte3:nth-child(5) {
  grid-column: 4;
  grid-row: 1 / 2;
}

.carte3:nth-child(6) {
  grid-column: 4;
  grid-row: 2 / 3;
}

.carte-groupe {
  display: flex;
  flex-direction: column;
}

.fas_fa-swimmer {
  color: red;
}

.filtre img {
  height: 12px;
  background-color: #deebff;
  margin-right: 5px;
  padding: 10px;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
}

#map {
  height: 15px;
}

#titre-filtre {
  font-weight: bold;
  vertical-align: middle;
}

.filtre {
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  font-weight: bold;
  padding-right: 5px;
}

.onglet {
  margin-right: 70px;
}

.onglet a {
  text-decoration: none;
  color: black;
}

.onglet a:hover {
  color: #0065fc;
  border-top: 5px solid #0065fc;
  padding-top: 58px;
}

#inscription {
  margin-right: 50px;
  font-weight: bold;
  color: #0065fc;
}

form {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  width: max-content;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;
}

i {
  height: 40px;
  width: 40px;
  background: #f2f2f2;
  color: #fff;
  text-align: center;
  line-height: 40px !important;
}

input.search {
  border: none;
}

button.submit {
  border: none;
  background: #0065fc;
  color: #fff;
  font-weight: bold;
  padding: 0 10px;
}

div.carte1 {
  background: #fff;
  border: 4px solid #fff;
  width: 320px;
  height: 250px;
  border-radius: 15px;
  margin: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}

div.carte1 > img {
  object-fit: cover;
  object-position: center;
  height: 0;
  flex: 1 1 0;
}

div.carte1 > div.infos {
  background: #fff;
  padding: 10px 3px;
  flex: 0 0 auto;
}

div.carte1 > div.infos > p {
  padding: 0;
  margin: 0;
  font-size: 16;
}

div.carte1 > div.infos > img {
  height: 12px;
}

div.carte2 {
  background: #fff;
  border: 4px solid #fff;
  display: flex;
  width: 320px;
  height: 150px;
  border-radius: 15px;
  margin: 20px;  
  justify-content: stretch;
  align-items: stretch;
}

div.carte2 > img {
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  width: 150px;
  height: 100%;
}

div.carte2 > div.infos {
  background: #fff;
  padding: 10px 3px;
  display: flex;
  flex-direction: column;
}

div.carte2 > div.infos p {
  padding: 0;
  margin: 0;
  font-size: 10;
}

div.carte2 div.note > img {
  height: 12px;
}

div.carte2 div.descriptif {
  flex: 1;
}

div.carte3 {
  background: #fff;
  border: 4px solid #fff;
  border-radius: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}

div.carte3 > img {
  object-fit: cover;
  object-position: center;
  height: 0;
  flex: 1 1 0;
}

div.carte3 > div.infos {
  background: #fff;
  padding: 10px 3px;
  flex: 0 0 auto;
}

div.carte3 > div.infos > span {
  padding: 0;
  margin: 0;
  font-size: 16;
}

#precision {
  font-weight: bold;
}