body {
    font-family: Raleway;
}

@font-face {
    font-family: 'Raleway';
    src: url('Police/Raleway-VariableFont_wght.ttf');
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #F2F2F2;
}

footer div {
    margin: 15px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    float: right;
}

#filtres {
    list-style-type: none;
    display: flex;
}

#filtres li {
    margin-right: 15px;
}

#filtres li a {
    display: flex;
    align-items: center;
}

#filtres li a:hover {
    color: #0065FC;
}

header img {
    height: 50px;
}

#flex-haut-de-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media screen and (max-width: 300px){
    #flex-haut-de-page {
        flex-direction: row-reverse;
    }
}

#hebergements-marseille {
    border-radius: 10px;
    background-color: #F2F2F2;
    min-width: 100px;
    padding: 15px;
    margin: 15px;
}

aside {
    border-radius: 10px;
    background-color: #F2F2F2;
    padding: 15px;
    width: 370px;
    padding: 15px;
    float: right;
    margin: 15px;
}

#flex-hebergements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#activites-marseille {
    display: flex;
    flex-wrap: wrap;
}

.carte-groupe {
	display: flex;
	flex-direction: column;
}

.fas_fa-swimmer {
    color: red;
}

.filtre img {
    height: 12px;
    background-color: #DEEBFF;
    margin-right: 5px;
    padding: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
}

#map {
    height: 15px;
}

#titre-filtre {
    font-weight: bold;
    vertical-align: middle;
}

.filtre {
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    font-weight: bold;
    padding-right: 5px;
}

.onglet {
    margin-right: 70px;
}

.onglet a {
    text-decoration: none;
    color: black;
}

.onglet a:hover {
    color: #0065FC;
    border-top: 5px solid #F2F2F2
    padding-top: 58px;
}

#inscription {
    margin-right: 50px;
    font-weight: bold;
    color: #0065FC;
}

form {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    width: max-content;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
}

i {
    height: 40px;
    width: 40px;
    background: #F2F2F2;
    color: #fff;
    text-align: center;
    line-height: 40px !important;
}

input.search {
    border: none;
}

button.submit {
    border: none;
    background: #0065FC;
    color: #fff;
    font-weight: bold;
    padding: 0 10px;
}

div.carte1 {
    background: #fff;
    border: 4px solid #fff;
    width: 320px;
    height: 250px;
    border-radius: 15px;
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}

div.carte1>img {
    object-fit: cover;
    object-position: center;
    height: 0;
    flex: 1 1 0;
}

div.carte1>div.infos {
    background: #fff;
    padding: 10px 3px;
    flex: 0 0 auto;
}

div.carte1>div.infos>p {
    padding: 0;
    margin: 0;
    font-size: 16;
}

div.carte1>div.infos>img {
    height: 12px;
}

div.carte2 {
    background: #fff;
    border: 4px solid #fff;
    width: 320px;
    height: 250px;
    border-radius: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}

div.carte2>img {
    object-fit: cover;
    object-position: left;
    height: 0;
    flex: 1 1 0;
}

div.carte2>div.infos {
    background: #fff;
    padding: 10px 3px;
    flex: 0 0 auto;
}

div.carte2>div.infos>p {
    padding: 0;
    margin: 0;
    font-size: 16;
}

div.carte2>div.infos>img {
    height: 12px;
}

div.carte3 {
    background: #fff;
    border: 4px solid #fff;
    width: 320px;
    height: 500px;
    border-radius: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}

div.carte3>img {
    object-fit: cover;
    object-position: center;
    height: 0;
    flex: 1 1 0;
}

div.carte3>div.infos {
    background: #fff;
    padding: 10px 3px;
    flex: 0 0 auto;
}

div.carte3>div.infos>span {
    padding: 0;
    margin: 0;
    font-size: 16;
}

div.carte3-2 {
    background: #fff;
    border: 4px solid #fff;
    width: 320px;
    height: 250px;
    border-radius: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}

div.carte3-2>img {
    object-fit: cover;
    object-position: center;
    height: 0;
    flex: 1 1 0;
}

div.carte3-2>div.infos {
    background: #fff;
    padding: 10px 3px;
    flex: 0 0 auto;
}

div.carte3-2>div.infos>span {
    padding: 0;
    margin: 0;
    font-size: 16;
}